@import "uni-form-generic.css";


/* Keep in mind that wherever you see 'Required property' it means that the property must exist */

/* ------------------------------------------------------------------------------ */

  /* Generals */
  .uniForm h2 {
    color:#000000;
    font-family:Times;
    font-size:24px;
    border-bottom: 1px solid #dadada;
    margin: 20px 0;
    padding-bottom: 5px;
  }
    .uniForm fieldset legend{ width: 100%; border-bottom:1px solid #EFEFEF; font-family:"Times new roman"; font-size:28px; font-weight:normal; margin:10px 0; display: block; }
    
    /* This is the main unit that contains our form elements */
    .uniForm .ctrlHolder{ padding: 7px; border-bottom: 1px solid #dadada; }
    
    .uniForm .buttonHolder{ text-align: right; }
      .uniForm .resetButton{ float: left; }
      .uniForm .primaryAction{ font-weight: bold; }
    
    /* This class gets added to div.ctrlHolder to highlight the row */
    .uniForm .focused{ background: #F9F9F9; }
      
      /* .inlineLabel is used for inputs within labels - checkboxes and radio buttons */
      .uniForm .inlineLabel input,
      .uniForm .inlineLabels .inlineLabel input,
      .uniForm .blockLabels .inlineLabel input{ float: left; margin: 0 .4em 0 0; }
        .uniForm .inlineLabel span{ float: left; width: 90%; }
        
/* ------------------------------------------------------------------------------ */

    /* .blockLabels (default style, will be applied even if you don't class the parent element) */
    .uniForm .blockLabels .ctrlHolder{}
      
      .uniForm label,
      .uniForm .blockLabels label,
      .uniForm .blockLabels .label{ margin: 0 0 .5em 0; }
      
      .uniForm .textInput,
      .uniForm .blockLabels .textInput,
      .uniForm .blockLabels .fileUpload{ width: 53%; /* <- Required property */ }
    
      .uniForm .selectInput,
      .uniForm select,
      .uniForm .blockLabels .selectInput,
      .uniForm .blockLabels select{ width: 53.5%; /* <- Required property */ }
      .uniForm textarea,
      .uniForm .blockLabels textarea{ width: 53%; /* <- Required property */ height: 12em; }

      .uniForm .formHint,
      .uniForm .blockLabels .formHint{ width: 45%; /* <- Required property */ font-size: 11px; color: #777; position: relative; top: -.5em; }
      
      .uniForm .multiField,
      .uniForm .blockLabels .multiField{ width: 53%; }
        .uniForm .multiField .inlineLabel,
        .uniForm .blockLabels .multiField .inlineLabel{ display: block; margin: 0 0 .5em 0; }
        .uniForm .multiField .blockLabel,
        .uniForm .blockLabels .multiField .blockLabel{ width: 30%; margin: 0 10px 0 0; }
        .uniForm .multiField .blockLabel .textInput,
        .uniForm .multiField .blockLabel .selectInput,
        .uniForm .multiField .blockLabel select,
        .uniForm .blockLabels .multiField .blockLabel .textInput,
        .uniForm .blockLabels .multiField .blockLabel .selectInput,
        .uniForm .blockLabels .multiField .blockLabel select{ width: 100%; margin: .3em 0 0 0; }

/* ------------------------------------------------------------------------------ */

    /* .inlineLabels */
    .uniForm .inlineLabels .ctrlHolder{}
    
    .uniForm .inlineLabels label,
    .uniForm .inlineLabels .label{ width: 24%; /* <- Required property */ margin: .3em 2% 0 0; _line-height: normal;/* <- Required property */ }
    
    .uniForm .inlineLabels .textInput,
    .uniForm .inlineLabels .fileUpload{ width: 45%; /* <- Required property */ }
    
    .uniForm .inlineLabels .selectInput,
    .uniForm .inlineLabels select{ width: 45%; /* <- Required property */ }
    
    .uniForm .inlineLabels textarea{  width: 45%; /* <- Required property */ height: 12em; }

    .uniForm .inlineLabels .formHint{ margin-top: 0; margin-left: 26%; font-size: 11px; color: #777; position: static; 21px }
    
    .uniForm .inlineLabels .multiField{ width: 46%; /* <- Required property */ margin: 0 0 .3em 0; }
      .uniForm .inlineLabels .multiField .inlineLabel{ display: block; margin: 0 0 .5em 0; }
      .uniForm .inlineLabels .multiField .blockLabel{ float: left; width: 26%; margin: 0 3% 0 0; }
      .uniForm .inlineLabels .multiField .blockLabel .textInput,
      .uniForm .inlineLabels .multiField .blockLabel .selectInput,
      .uniForm .inlineLabels .multiField .blockLabel select{ width: 100%; margin: .3em 0 0 0; }

/* Focus pseudoclasses */
.uniForm .ctrlHolder .textInput:focus{ outline: none; /* Get rid of the 'glow' effect in WebKit, optional */ }
.uniForm .ctrlHolder textarea:focus{ outline: none; /* Get rid of the 'glow' effect in WebKit, optional */ }
.uniForm div.focused .formHint{ color: #333; }

/* Columns (they are floated left by default) */
.uniForm .col{ width: 47.9%; /* <- Required property */ margin: 0 2% 20px 0; }
/* Use .first and .last classes to control the layout/spacing of your columns */
.uniForm .col.first{ width: 49%; /* <- Required property */ float: left; clear: none; }
.uniForm .col.last{ width: 49%; /* <- Required property */ float: right; clear: none; margin-right: 0; }

/* Messages */

.uniForm #errorMsg dt, .uniForm #errorMsg h3{ margin: 0 0 .5em 0; font-size: 100%; line-height: 100%; font-weight: bold; color: #DE5161; }
.uniForm #errorMsg dd{ margin: 0; padding: 0; }
.uniForm #errorMsg ol{ margin: 0; padding: 0; }
.uniForm #errorMsg ol li{ margin: 0; padding: 2px; list-style-position: inside; border-bottom: 1px dotted #df7d7d; position: relative; }
.uniForm .errorField { color: #DE5161; margin: 0 0 6px 0; padding: 4px; }

.uniForm #OKMsg { background: #C8FFBF; border: 1px solid #A2EF95; border-width: 1px 0; margin: 0 0 1.5em 0; padding: 7px; }
.uniForm #OKMsg p { margin: 0; }

/*
IT IS STRONGLY ADVISED TO MAKE YOUR CHANGES AFTER THIS COMMENT BY REPEATING (COPYING) THE SELECTOR FROM ABOVE, 
AND MODIFYING IT WITH YOUR OWN PROPERTIES/VALUES. THIS IS RECOMMENDED BECAUSE IF YOU HAPPEN TO RUN INTO TROUBLE, 
YOU CAN VERY EASILY REVERT TO A GENERIC STYLE OF UNI-FORM. BEST OF LUCK... 
*/

/* ------------------------------------------------------------------------------ */

.uniForm a.add-another { color: #DE5161; }
.uniForm a.add-another:hover { color: #000; }

.uniForm .multiField, .uniForm .blockLabels .multiField{ width: 60%; }
.uniForm .formHint, .uniForm .blockLabels .formHint{ width: 40%; margin-top: .3em; }
.uniForm .textInput, .uniForm select, .uniForm textarea{ border: 1px solid #dadada; padding: 6px; color: #848484; font: normal 11px "Verdana";}
.ctrlHolder.focused .textInput{ border-color: #DADADA; }
.uniForm .buttonHolder{ padding: 10px 10px 10px 0; font-size: 120%; margin: 1em 0;border: 1px solid #ccc; border-width: 1px 0; background: #f9f9f9; }

/* Phone number multifield custom styles */
.uniForm .inlineLabels .ctrlHolder .multiField.phoneNum .blockLabel{ width: auto; }
  .uniForm .inlineLabels .ctrlHolder .multiField .blockLabel #phone_ccode.textInput,
  .uniForm .inlineLabels .ctrlHolder .multiField .blockLabel #phone_area.textInput{ width: 40px; }
  .uniForm .inlineLabels .ctrlHolder .multiField .blockLabel #phone_area.textInput{ width: 40px; }
  .uniForm .inlineLabels .ctrlHolder .multiField .blockLabel #phone_num.textInput{ width: 110px; }
  
  
  
/* LAURENT */
td.title { width: 250px;}
.title input { width: 210px !important; }
td.description textarea { width: 660px !important; }

td.order input {width: 70px !important; margin-right: 20px;}
td.picture input {width: 270px !important; margin-right: 20px;}
td.ingredient { width: 330px;}
td.ingredient input { width: 330px !important; }
td.quantity { width: 330px;}
td.quantity input { width: 330px !important; }

td.ingredientProducts { width: 660px; }
td.ingredientProducts input { width: 660px; }
td.toolProducts { width: 660px; }
td.ingredientProducts input { width: 660px; }
td.tools { width: 660px; }
td.tools input { width: 660px; }

h3 { font-family: Times; font-size: 20px; color: #666; padding: 0 0 5px 0 !important; }
label, th { font-size: 12px; text-transform: Capitalize; }

.formset th, .formset_ingredientQuantity_form {
    text-align: left;
    font: normal 12px Verdana;
}

.formset textarea {
    width: 520px !important;
}

.formset { }


.formset_ingredientQuantities .textInput { width: 400px !important; }

.uniForm .inlineLabels .formset_ulti_sites_form .textInput, .uniForm .inlineLabels .formset_ulti_products_form .textInput { width: 250px; }



.error { background: #FFF0F0 !important; }